* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-color: #ecf1fc; }

.nav {
  background-color: #fd7d05 !important; }
  .nav a:hover {
    color: black !important; }

/* BOCA JUNIORS */
/* acomodar mi titulo.*/
.escudo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  font-weight: bold;
  padding-top: 15px;
  color: #200dfb;
  width: 80%;
  margin: auto; }
  .escudo:hover {
    transform: scale(1.2);
    transition: 2s; }

.escudo-river {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  width: 80%;
  margin: auto;
  font-weight: bold;
  padding-top: 15px;
  color: red; }
  .escudo-river:hover {
    transform: scale(1.2);
    transition: 2s; }

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  max-width: 80%; }

.nav-item a {
  font-weight: bold;
  color: white; }

#main-inicio {
  background-color: #e7c2c2; }

.titulo-1 {
  padding-top: 15px;
  font-family: serif;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  color: #070707; }

.h2 {
  font-weight: bold;
  text-align: center;
  margin: 10px; }
  .h2:hover {
    color: #0cb2f3; }

.imagen {
  margin: 100px 35px;
  animation-name: slide-in;
  animation-duration: 1s; }
  .imagen img {
    max-width: 500px;
    margin: 20px; }
  .imagen p {
    margin-left: 10px;
    padding: 10px;
    color: #2c2c2e;
    font-size: 15px;
    font-weight: bold;
    border: 2px #ee6307 double; }

.imagen {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center; }

@keyframes slide-in {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

/* MIRAR ESTE ITEM */
.parrafo-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 15px; }
  .parrafo-1 p {
    font-size: 1rem;
    border: #f88e02 5px dashed;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 45px; }

.form {
  width: 30%;
  padding: 50px 0; }

.card-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center; }
  .card-title:hover {
    background-color: blue;
    color: white; }

.boton:hover {
  color: yellow;
  font-weight: bold;
  border: 2px solid black; }

.btn-river:hover {
  color: red;
  font-weight: bold;
  border: 2px solid white; }

.boton-river {
  color: red; }
  .boton-river:hover {
    background-color: black;
    border: 3px solid red; }

.fundacion {
  display: flex;
  align-items: center; }

.titulo {
  margin: 20px; }

.titulo-2, .titulo-3, .titulo-4, .titulo-5 {
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace; }
  .titulo-2:hover, .titulo-3:hover, .titulo-4:hover, .titulo-5:hover {
    background-color: yellow;
    color: blue; }

.titulo-3:hover {
  background-color: red;
  color: white; }

.flex-river {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: stretch;
  animation-name: agrandando;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-delay: 5s;
  font-weight: bold;
  padding-top: 15px;
  color: red; }
  .flex-river img {
    margin: 15px;
    max-width: 30%; }

/* RACING CLUB */
.escudo-racing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  font-weight: bold;
  padding-top: 15px;
  color: aqua;
  width: 80%;
  margin: auto; }
  .escudo-racing:hover {
    transform: scale(1.2);
    transition: 2s; }

.table {
  margin: 50px auto;
  background-color: black;
  color: white;
  font-weight: bold;
  border: solid 10px #f06f06; }

.titulo-4:hover {
  background-color: aqua;
  color: white; }

.parrafo-racing {
  display: flex;
  font-size: 15px;
  margin: 10px; }

/* INDEPENDIENTE */
.escudo-independiente {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  font-weight: bold;
  padding-top: 15px;
  color: red;
  width: 80%;
  margin: auto; }
  .escudo-independiente:hover {
    transform: scale(1.2);
    transition: 2s; }

.card-independiente {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center; }
  .card-independiente:hover {
    background-color: #ff0d0d;
    color: white; }

.titulo-5:hover {
  background-color: #fd071b;
  color: white; }

/* CONTACTO */
.p-contacto {
  margin: 15px;
  font-size: 1.8rem;
  color: #141414;
  border: 5px solid #f86604; }

.prueba {
  background-image: linear-gradient(to top, #0fe90f 0%, #ff7402 100%);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  border-radius: 40px; }
  .prueba input {
    text-align: center;
    border: 3px black solid; }

.prueba-2 {
  display: flex;
  justify-content: space-evenly;
  width: 50%; }

.h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px; }

.boton-form {
  color: #0f0f0f;
  font-weight: bold; }
  .boton-form:focus {
    color: #fc2b06;
    background-color: #fc7c05;
    border: 2px solid black; }

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  height: 14vh;
  background-color: #fd7d05; }

.ul-footer {
  display: flex;
  list-style: none; }
  .ul-footer li {
    margin: 0 10px; }
  .ul-footer a {
    text-decoration: none;
    color: #f5eeee;
    font-weight: bold; }
    .ul-footer a:hover {
      color: #080808; }

@media (max-width: 320px) {
  .parrafo-1 {
    color: #414416;
    font-weight: bold; } }

@media (max-width: 480px) {
  .imagen img {
    max-width: 100%; }
  .parrafo-2 {
    width: 90%; }
  .table {
    width: 90%; } }

@media (max-width: 800px) {
  .imagen {
    align-items: center;
    flex-direction: column; } }

.ul-footer--instagram {
  background-color: orange; }

.ul-footer--ole {
  background-color: green; }

.ul-footer--tyc-sports {
  background-color: blue; }
