// MIXIN

@mixin flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.imagen{
    @include flex(row-reverse,center ,center)
}
